.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  flex: 1;
  text-align: left;
  margin-bottom: 20px;
}

.column h4 {
  margin-bottom: 10px;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 8px;
}

.social-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.facebook-button {
  color: #fff;
  background-color: #0046a1;
}

.instagram-button {
  color: #fff;
  background-color: #ec1ab8;
}

.youtube-button {
  color: #fff;
  background-color: #ff0000;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
}

.subscribe-form input {
  padding: 8px;
  margin-bottom: 10px;
  width: 80%;
}

.subscribe-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 10px 10px 10px;
  width: 50%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #0056b3;
}

.legal-section {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.header-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  margin-left: 20px;
}

.header-nav-link {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.header-nav-link:hover {
  background-color: #e0e0e0;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#DIV-CONTAIN {
  color: black;
  background-color: white;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}
#CARDLIST_CONT {
  width: 70vw;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: white;
  justify-content: center;
}

#FIGURE {
  width: 100%;
  height: 100%;
  gap: 1px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  color: beige;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 3px 3px #c5c3c3;
  background-color:white;
  display: flex;
  flex-direction: column;
}
#H3 {
  height: 24px;
  margin-bottom: 16px;
  font-size: x-large;
  font-weight: 600;
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
  color: black;
}

#div-figure {
  height: auto;
  padding: 1px;
  margin: 2px;
}
#DIV_IMG {
  display: block;
  width: 100%;
  height: 300px;
  padding: 3px;
}
figcaption {
  height: auto;
}
#PARRAFO {
  font-size: x-large;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-top: 1px;  
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 4px;
  letter-spacing: 1px;
  color: black;
}
#CONTADOR {
  width: 100%;
  height: 60px;
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}
#BOTON {
  color:white;
  width: 180px;  
  background-color: rgb(59, 133, 245);
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}
#MODAL-CONT{
  position: fixed;
  z-index: 50;
  overflow-y: auto;
  opacity: 1;
  top:70px ;
  bottom: 0;
  right: 0;
  left: 150px;
}
#MODAL{
  overflow-x: hidden;
  width: 90%;
  height: 600px;
  border: solid 10px grey;
  border-radius: 20px;
  background-color: white;

  
}
#MODAL-CONTENIDO{
display: flex;
flex-direction: column;
width: auto;
height: 150px;
margin-bottom: 40px;
font-size: large;
color: black;
} 
#BTN{
float: right ;
height: 32px;
padding: 0;
margin: 0;
background-color: white;
fill:black;
border: none;
}
#MODAL_TITULO{
  width: auto;
  height: 40px;
  padding-bottom: 2px;
  padding-left: 25px;
  padding-top: 8px;
  text-transform: capitalize;
  text-align: start;
  font-weight: bold;
  font-size: large;
}
#IMG_MODAL{
  margin: 20px;
  height: 140px;
  width: 150px; 
border: solid 1px grey;
border-radius: 25px;

}
#items_carro{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  gap:24px;
  padding-left: 12px;
 
}

.hero-container{
  margin: 3vh;
  height: 30vh; 
  width: 100%;
  background-image: url('../src//assets/Hero.png');
  background-size:contain;
  background-repeat: no-repeat; 
  background-position: center
}

.call-container{
height: 10vh; 
width: 100%;
background-image: url('../src//assets/Call.png');
background-size:contain;
background-repeat: no-repeat; 
background-position: center
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#cardlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#items-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
}